@inherits BfComponentBase

<div class="form-check @CssClass" @attributes="RootAttributes">
    <BfLabel Click="OnLabelClick"
             CssClass="form-check-label"
             Enabled="Enabled"
             IconCssClass="@IconCssClass"
             Text="@Text"
             TextCssClass="@TextCssClass"
             Visible="Visible" />
    <input class="form-check-input"
           type="checkbox"
           checked="@Value"
           disabled="@(!Enabled)"
           @onchange="OnChange"
           @onclick:preventDefault="PreventDefault"
           @onclick:stopPropagation="StopPropagation" />
</div>