@typeparam TValue

<div class="edit-field @(Options.IsEditable ? "editable" : "") @CssClass"
     id="@Id"
     @onclick="OnClick">

    <span id="@LabelId">
        @(!string.IsNullOrWhiteSpace(Options.Format) && Value is IFormattable fv
        ? fv.ToString(Options.Format, null)
        : Value?.ToString())
    </span>

    <input id="@EditorId"
           class="d-none"
           autocomplete="off"
           placeholder="@Options.PlaceHolder"
           @onblur="OnInputBlur"
           @onclick:stopPropagation />

</div>