<div class="table-cell @(EditOptions.IsEditable ? "editable" : "")"
     id="@Id"
     @onclick="OnClick">

    <span class="label" id="@LabelId">
        @if (string.IsNullOrWhiteSpace(DisplayValue))
        {
            <span>&nbsp;</span>
        }
        else
        {
            @DisplayValue
        }
    </span>

    <input id="@EditorId"
           class="d-none @CssClass"
           autocomplete="off"
           @onblur="OnInputBlur"
           @onclick:stopPropagation />

</div>